html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    margin: 0;
    font-size: 21px;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
}
.img-rounded {
    border-radius: 3px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
[role="button"] {
    cursor: pointer;
}
/* ===== Initializr Styles ==================================================
   Bootstrap Grid System
   ========================================================================== */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        float: left;
    }
    .col-12 {
        width: 100%;
    }
    .col-11 {
        width: 91.66666667%;
    }
    .col-10 {
        width: 83.33333333%;
    }
    .col-9 {
        width: 75%;
    }
    .col-8 {
        width: 66.66666667%;
    }
    .col-7 {
        width: 58.33333333%;
    }
    .col-6 {
        width: 50%;
    }
    .col-5 {
        width: 41.66666667%;
    }
    .col-4 {
        width: 33.33333333%;
    }
    .col-3 {
        width: 25%;
    }
    .col-2 {
        width: 16.66666667%;
    }
    .col-1 {
        width: 8.33333333%;
    }
    .col-pull-12 {
        right: 100%;
    }
    .col-pull-11 {
        right: 91.66666667%;
    }
    .col-pull-10 {
        right: 83.33333333%;
    }
    .col-pull-9 {
        right: 75%;
    }
    .col-pull-8 {
        right: 66.66666667%;
    }
    .col-pull-7 {
        right: 58.33333333%;
    }
    .col-pull-6 {
        right: 50%;
    }
    .col-pull-5 {
        right: 41.66666667%;
    }
    .col-pull-4 {
        right: 33.33333333%;
    }
    .col-pull-3 {
        right: 25%;
    }
    .col-pull-2 {
        right: 16.66666667%;
    }
    .col-pull-1 {
        right: 8.33333333%;
    }
    .col-pull-0 {
        right: auto;
    }
    .col-push-12 {
        left: 100%;
    }
    .col-push-11 {
        left: 91.66666667%;
    }
    .col-push-10 {
        left: 83.33333333%;
    }
    .col-push-9 {
        left: 75%;
    }
    .col-push-8 {
        left: 66.66666667%;
    }
    .col-push-7 {
        left: 58.33333333%;
    }
    .col-push-6 {
        left: 50%;
    }
    .col-push-5 {
        left: 41.66666667%;
    }
    .col-push-4 {
        left: 33.33333333%;
    }
    .col-push-3 {
        left: 25%;
    }
    .col-push-2 {
        left: 16.66666667%;
    }
    .col-push-1 {
        left: 8.33333333%;
    }
    .col-push-0 {
        left: auto;
    }
    .col-offset-12 {
        margin-left: 100%;
    }
    .col-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-offset-0 {
        margin-left: 0%;
    }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
}
.affix {
    position: fixed;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-header{
    padding: 20px 0;
}
.logo{
    font-size: 2em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
#pi-navigation {
    margin: 0;
    float: right;
    display: inline-block;
}
#pi-navigation ul{
    list-style: none;
    padding: 20px 0;
    margin: 0;
}
#pi-navigation ul li{
    float: left;
    margin-right: 20px;
}
/*Portfolio Styles*/
.portfolio-item {
    margin-top: 24px;
}
/*.portfolio-item .img-responsive{*/
    /*height: 250px;*/
/*}*/
.portfolio-item .portfolio-item__details{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.87);
    color: #fff;
    font-size: 1rem;
    display: none;
}

.portfolio-item .portfolio-item__details .portfolio-item__tags, .portfolio-item .portfolio-item__details .portfolio-item__title{
    margin: 0;
    padding: 5px 5px 0 5px;
    line-height: .75rem;
}
.portfolio-item .portfolio-item__details .portfolio-item__tags{
    font-size: .75rem;
    padding-bottom: 5px;
}
.portfolio-item .portfolio-item__details .portfolio-item__title{
    padding-top: 10px;
}
/*Blog Styles*/
.pi-blog{
    margin: 40px 0;
}
.pi-blog h2{
    display: block;
    clear: both;
    margin: 20px 0;
}
.pi-blog h2 a{
    color: #333;
}
.img-transition{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pi-hover{
    position: absolute;
    bottom: 0;
    background: #111;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    opacity: .75;
    display: none;
}
.footer {
/*    position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 60px;
    background-color: #fafafa;
}	
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
/* ====================
    INTERMEDIATE: Menu
   ==================== */
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
}
@media only screen and (min-width: 768px) {
/* ====================
    WIDE: CSS3 Effects
   ==================== */
}
@media only screen and (min-width: 1140px) {
/* ===============
    Maximal Width
   =============== */
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}